body{
    font-family: Source Code Pro;
}

.navbar-brand span{
    font-size: small;
   
}
.offcanvas-title span{
    font-size: small;

}


.dropdown-item:hover{
    background-color: white;

}


.dropdown-item {
    padding-bottom: 1px;
    color: rgb(0, 0, 0);
    position: relative;
}

.dropdown-item::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: rgb(2, 2, 2);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown-item:hover::after {
    opacity: 1;
    transform: translateY(0);
}






.dropdown-menu{
    position: absolute;
    right: 10px;
    

}
.dropdown-menu ul{
    list-style: none;
    padding: 0;
}


.dropdown-menu li a{
    color: grey;
    padding: 10px 20px;
}

.dropdown-menu #one li a{
    color: black;
    width: 100%;
}


.dropdown-menu #two li:first-child a{
    font-size: 1em;
    font-weight: 500;
    color: black;
}





.hero {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    
   
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(3px);
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-title {
    font-size: 3em;
    margin-bottom: 0;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
}

.content-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-image{
    width: 30%;
    margin: 20px;
}


.content-image img{
    width: 100%; 
}

.content-header{
    width: 50%;
}

.content-header p{
    padding-left: 5px;
    font-size: 0.8em;
}


.see-more {
    padding: 12px 50px;
    margin-left: 5px;
    background-color: hsl(219, 6%, 53%);
    color: hsl(0, 0%, 6%);
    position: relative;
    border-style: none;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    right: 0;
}

.see-more span {
    z-index: 1;
    position: relative;
}

.see-more::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
}

.see-more:hover span {
    color: hsl(0, 0%, 100%);
}

.see-more:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%,-50%,0) scale3d(1.2,1.2,1.2);
}

.lists{
    display: flex;
    justify-content: start;
    margin-top: 20px;
    flex-direction: column;
    
}


.lists ul{
    list-style: none;
    margin: 0; 
    padding: 0;
    width: 100%;
}

.lists ul li{
    padding: 10px;
    border-bottom: solid 0.5px grey; 

}

.lists ul li a{
       text-decoration: none;
       color: black;
}




.lists ul {
	color: rgb(0, 0, 0);
}

.lists ul span{
	display: inline-block;
	transition: transform 0.2s ease, color 0.2s ease;
}

.lists ul:hover span {
	transform: translateX(4px);
	color: hsl(243, 80%, 62%);
}
































main {
    margin-top: 30px;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    
}

.content-section {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1 1 100%;
}









@media(min-width: 993px){
    .dropdown-menu.show{
        display: flex;
    }

    .dropdown:hover .dropdown-menu{
        display: flex;
    }

    .content-header p{
        padding-left: 5px;
        font-size: 1em;
    }

    .lists ul li a{
        text-decoration: none;
        color: black;
        font-size: 1.5em;
    }

    .content-image{
        width: 20%;
        margin: 20px;
    }
    .content h1{
        font-size: 1.8em;
        margin-bottom: 0;
    }
    
    .content p{
        font-size: 1em;
        max-width: 900px;
    }

}


@media(min-width: 1200px){
    main {
        padding: 20px;
        background-color: #f5f5f5;
    }

    .content-section{
        flex: 1 1 50%;
        padding: 50px;
        border: 1px solid #000;
    }

    .content h1{
        font-size: 2em;
        margin-bottom: 0;
    }
    
    .content p{
        font-size: 1.2em;
        max-width: 1200px;
    }
}


@media(max-width: 993px){
   
    .dropdown-menu.show{
        max-height: 60vh;
        overflow-y: scroll;
    }

    .hero {
        position: relative;
        height: 50vh;
        overflow: hidden;
    }

    .content h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    
    .content p {
        font-size: 1em;
        max-width: 1200px;
    }


}








